
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300';


/*@font-face {
	font-family: 'Open Sans', sans-serif;
	font-family: 'Open Sans Condensed', sans-serif;
}
*/

h1 {
	font-family: 'Open Sans', sans-serif;
	margin:0 0 0 0;
	opacity:0.8;
}

.ad-box {
	background-color:#f9f9f9;
	border:1px solid #dddddd;
	padding: 15px 0 0 0;
	position: relative;
}

.ad-section {
	background-color:#acacac;
/*	margin: 0 0 10px 0;*/
	padding:10px 10px 15px 15px;
	border:none; 
}

.drop-button {
	font-family: 'Open Sans', sans-serif;
	padding: 3px 8px 3px 8px;
}

.ad-section p {
	font-family: 'Open Sans', sans-serif;
	display: inline;
	vertical-align: middle;
	color: #fff;
}

.ad-section div {
/*	display: inline;*/
	float: right;
}

.ad-section a i {
	font-size: 20px;
	color: #fff;
	margin: 0 0 0 0;
	padding: 0 7px 0 10px;
}

.entry-bg {
	padding: 0 0 0 0;
}

.ad-entry {
	background-color: #fff;
	border:1px solid #dddddd;
	border-radius: 5px;
	padding: 0 0 0 0;
	margin: 0 0 10px 0;
}

.ad-entry p {
	font-family: 'Open Sans', sans-serif;
}

.ad-entry div:first-child {
	float: left;
	margin:20px 20px;
	text-align: center;
}

.ad-entry ul {
	list-style-type: none;
	display: inline-block;
	padding: 0 0 0 0;
}

.ad-entry ul li p {
	font-family: 'Open Sans', sans-serif;
	color:#919191;
	margin: 0 0 5px 0;
	font-style: italic;
	font-size: 12px;
	padding: 10px 0 0 0;
}

.ad-entry ul li img {
	width: 100px;
	height: 40px;	
	margin: 0 0 3px 0;
}

.ad-entry ul li a {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-decoration: none;
	padding: 0 0 0 20px;
}

.ad-entry ul li a i {
	margin: 0 5px 0 0;
}


.ad-entry button {
	font-family: 'Open Sans', sans-serif;
	float:right;
	vertical-align: middle;
	margin: 35px 15px 0 0;
	padding: 3px 5px 3px 5px;
}

.ad-entry button i {
	padding: 0 10px 0 0;
}

.publish-bg {
	margin: 0 10px 0 10px;
}

/*.btn-default {
	color: #919191;
	border:2px solid #dedede;
	border-radius:5px;
	border-style:dashed;
	padding: 10px 60px 10px 60px;
	margin: 10px 0 0 0;
	vertical-align: middle;
}

.btn-default:hover {
	color:#919191;
	background-color: transparent;
}

.btn-default i {
	padding: 0 10px 0 0;
}

.file-type {
	text-align: center;
}
*/

/*SUBMIT*/

.submitted {
	border:1px solid #dddddd;
}

.submit {
	margin: 0 0 30px 0;
}
.submit-section {
	background-color:#acacac;
	padding:10px 10px 15px 15px; 
}

.submit-section p {
	font-family: 'Open Sans', sans-serif;
	display: inline;
	vertical-align: middle;	
	color: #fff;
}

.submit-section div {
/*	display: inline;*/
	float: right;
}

/*.submit-section button i {
	margin: 0 0 0 10px;
}*/

.submit-section a i {
	font-size: 20px;
	color: #fff;
	margin: 0 0 0 0;
	padding: 0 7px 0 10px;
}

.submit-entry {
	background-color: #fff;
	border-radius: 5px;
	padding: 0 0 0 0;
}


.submit-entry div:first-child {
	float: left;
	text-align: center;
}

.submit-name {
	margin:20px 20px 0 20px;
}

.submit-content {
	padding: 0 20px 0 10px;
	margin: 35px 0 0 0;
	font-style: italic;
	color: #acacac;
}

.submit-content p {
	font-family: 'Open Sans', sans-serif;
}

/*.submit-entry ul {
	list-style-type: none;
	display: inline-block;
	padding: 0 0 0 0;
}*/

/*.submit-entry ul li p {
	font-family: 'Open Sans', sans-serif;
	color:#919191;
	margin: 0 0 5px 0;
	font-style: italic;
	font-size: 12px;
	padding: 10px 0 0 0;
}*/

.submit-entry ul li img {
	width: 100px;
	height: 40px;	
	margin: 0 0 3px 0;
}

.submit-entry ul li a {
	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	text-decoration: none;
	padding: 0 0 0 20px;
}

.submit-entry ul li a i {
	margin: 0 5px 0 0;
}

.submit-info {
	border-bottom:1px solid #dddddd;
	padding: 0 0 15px 0;
}

.submit-info ul {
	list-style-type: none;
	display: inline-block;
	padding: 0 0 0 0;
	margin: 18px 0 0 0;
}

.submit-buttons {
	float:right;
	vertical-align: middle;
	margin: 23px 15px 0 0;
}



.submit-buttons a:first-of-type {
	font-family: 'Open Sans', sans-serif;
	font-size: 11px;
	color: #e9008c;
	padding: 5px 15px 5px 15px;
	border:1px solid #e9008c;
	border-radius: 4px;
	margin:0 10px 0 0;
	text-decoration: none;
}

.submit-buttons a:nth-child(2) {
	font-family: 'Open Sans', sans-serif;
	font-size: 24px;
	color: #41b94a;
	vertical-align: middle;
	margin:0 10px 0 0;

}

.button-close {
/*	font-family: 'Open Sans', sans-serif;*/
	font-size: 24px;
	color: #f0677d;
	vertical-align: middle;
	cursor: pointer;
}

/*APPROVED*/

.approved {
	border:1px solid #dddddd;	
}

.approved-buttons {
	float:right;
	vertical-align: middle;
	margin: 23px 15px 0 0;
}


.button-trash {
/*	font-family: 'Open Sans', sans-serif;*/
	font-size: 20px;
	color: #f0677d;
	vertical-align: middle;
	text-decoration: none;
	cursor: pointer;
	margin: 6px 0 0 0;
}

.approved-displayed {
	color: #41b94a;
	padding: 6px 20px 0 0;
}

.approved-displayed i {

	margin:0 10px 0 0;

}

.approved-displayed span {
	font-family: 'Open Sans', sans-serif;
	margin:0 10px 0 0;
}

.approved-undisplayed {
	color: #d2d2d2;
	padding: 6px 20px 0 0;
}

.approved-undisplayed i {
	margin:0 10px 0 0;
}

.approved-undisplayed span {
	font-family: 'Open Sans', sans-serif;
	margin:0 10px 0 0;
}

.second-col {
	padding-top:18px;
}

/*Ad-pub view*/


.ad-section button i {
	margin: 0 0 0 10px;
}

.publish-form {
	margin: 0 0 15px 15px;
}

.publish-form .form-group:first-child {
	margin:0 29px 0 0;
}

label {
	font-family: 'Open Sans', sans-serif;
	margin: 0 5px 0 0;
}

.form-inline .form-control {
	font-family: 'Open Sans', sans-serif;
	width: 300px;
}

.publish-info {
	margin: 0 0 10px 15px;
}


.publish-info p {
	display: inline;
}

.publish-info p:last-of-type {
	font-style: italic;
	color: #c1c1c1;
}



.publish-image {
	margin: 0 0 0 15px;
}


/*.publish-image div {
	display: inline-block;
	width: 20%;
}*/

.publish-image div:first-of-type {
/*	float: left;*/
}

.publish-image div:first-child img {
	border:1px solid black;
	margin:0 0 10px 0;
}

.publish-image div:first-child a {
	text-decoration: none;
	color: #dddddd;
	border:1px solid #dddddd;
	border-radius: 2px;
	padding: 3px 57px 3px 7px;

}

.publish-image div:nth-child(2) img {
	border:1px solid black;
	margin:0 0 10px 0;
}

.publish-image div:nth-child(2) a {
	text-decoration: none;
	color: #dddddd;
	border:1px solid #dddddd;
	border-radius: 2px;
	padding: 3px 57px 3px 7px;

}

.publish-image div:first-child a:hover {
	color:#000;
}

/*.publish-image div:last-of-type {
	float: right;
	margin: 0 195px 0 0;
	padding: 50px 50px 50px 50px;
}*/

.publish-image div:last-of-type img {
	padding: 20px 70px 20px 70px;
	border:3px solid #dedede;
	border-style:dashed;
	border-radius: 5px;
}

.publish-image div:last-of-type img:hover {
/*	background-color: #f9f9f9;*/
	opacity: 0.7;
	cursor: pointer;
}

.file-type input {
	display: none;
}


.publish-button {
	text-align: center;
	margin: 22px 0 20px 0;
}

.publish-button a {
	font-family: 'Open Sans', sans-serif;
	padding: 7px 60px 7px 60px;
	color: #fff;
	font-weight: 200;
	font-size: 22px;
	text-decoration: none;
	background-color: #eb3491;
	border-radius: 3px;
	text-transform: uppercase;
}

/*Awaiting approval*/

.approval-buttons {
	float:right;
	vertical-align: middle;
	margin: 23px 15px 0 0;
}


.approval-buttons p {
	font-family: 'Open Sans', sans-serif;
	display: inline;
	font-size: 12px;
	color: #fff;
	background-color:#c6c6c6;
	padding: 7px 15px 7px 15px;
	border-radius: 4px;
	margin:0 15px 0 0;	
}

.approval-buttons i {
	text-decoration: none;
/*	font-family: 'Open Sans', sans-serif;*/
	font-size: 24px;
	color: #f0677d;
	vertical-align: middle;
	cursor: pointer;
}

.input-group {
	width: 232px;
}

.input-group input {
	border-radius: 100px;
}

.input-group .form-control:last-child {
	border-radius: 5px;
}

/*Modal*/

.modal-wrapper {
	font-family: 'Open Sans', sans-serif;
}

.modal-button {
	margin: 10px 0 0 0;
	text-align: center;
}

.modal-button button {
	color: #919191;
	background-color: transparent;
	padding: 10px 60px;
	border:2px solid #dadada;
	border-style: dashed;
}

.modal-title {
	margin: 40px 0 40px 0;
	text-align: center;
	font-weight: 400;
}

.modal-header {
	border:none;
	padding: 0 0 0 0;
}

.modal-header div {
	margin: 0 0 20px 50px;
}

.modal-base p:nth-child(2) {
	font-size: 17px;
	font-weight: bold !important;
}

.modal-header div p {
	font-size: 15px;
	display: inline;
}

.modal-body {
	border-top:1px solid #dddddd;
	margin: 0 50px 0 50px;
	padding: 15px 0 15px 0;
}

.modal-body div div:first-child {	
	margin: 10px 0 0 0;
	text-align: center;
}

.modal-body div div:first-child input {
	margin: 0 30px 0 0;
	font-size:60px;
}

.modal-body div div:first-child p {
	display: inline;
}

.modal-body div div:first-child p:first-of-type {
	margin: 0 40px 0 0;
}

.modal-body div div:first-child p:last-of-type {
	margin: 35px 0 0 0;
	font-style: italic;
	color: #acacac;
}

.modal-body div div:nth-child(2) img {
	width: 100px;
	height: 40px;
	display: inline;
	margin: 0 10px 0 0;
}

.modal-body div div:nth-child(2) {
	text-align: center;
}

.modal-body div div:last-child {
	text-align: center;
	margin: 10px 0 0 0;
}


.modal-body div div:last-child a {
	font-size: 11px;
	color: #e9008c;
	padding: 5px 20px 5px 20px;
	border:1px solid #e9008c;
	border-radius: 4px;
	margin:20px 0 0 0;
	text-decoration: none;
}

.modal-footer {
	border-top:1px solid #dddddd;
	margin: 0 50px 0 50px;
	padding: 30px 0 30px 0;
	text-align: center;
}

.modal-header .close {
	margin: 10px 15px 0 0;
}

.button-confirm .modal-header {
	padding: 25px 100px 25px 100px;
}

.adpub-modal {
    position: absolute;
    top: 25%;
    left: 50%;
    margin-top: -25px;
    margin-left: -200px;
    padding: 20px;
}






